- pageList={"index" => "ホーム", "class" => "授業", "research"=>"研究"}
- otherPageList={"mac_setting" => "mac設定の記録", "numerical" => "数値計算やってみました", "git" => "バージョン管理ツールを使おう","yen" => "単位を「円」にしてみた"}

.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{:href => "./index.html"} SY's Web Page
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
        - 3.times do
          %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        - pageList.each do |key, value|
          %li{:class => (current_page.data.pageid == key) && 'active'}
            = link_to value, "/"+key+".html"
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            その他
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            - otherPageList.each do |key, value|
              %li{:class => (current_page.data.pageid == key) && 'active'}
                = link_to value, "/"+key+".html"
