- pageList={"index" => "ホーム", "class" => "授業", "research"=>"研究"}
- otherPageList={"mac_setting" => "mac設定の記録", "numerical" => "数値計算やってみました", "git" => "バージョン管理ツールを使おう","yen" => "単位を「円」にしてみた","polytope" => "４次元多胞体"}

%nav.navbar.navbar-light.bg-light.navbar-expand-lg
  .container
    %a.navbar-brand{:href => "./index.html", :style => "color: #f00"} SY's Web Page
    %button.navbar-toggler{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button", "aria-controls"=>"navbar-main", "aria-expanded"=>"false", "aria-label"=>"Toggle navigation"}
      %span.navbar-toggler-icon
    #navbar-main.navbar-collapse.collapse
      %ul.navbar-nav.mr-auto
        - pageList.each do |key, value|
          %li.nav-item{:class => (current_page.data.pageid == key) && 'active'}
            = link_to value, "/"+key+".html", :class => "nav-link"
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#","aria-haspopup" => "true", "aria-expanded" => "false"}
            その他
          .dropdown-menu
            - otherPageList.each do |key, value|
              = link_to value, "/"+key+".html", :class => "dropdown-item #{'active' if current_page.data.pageid == key}"
