---
layout: flat
title: 授業・ゼミ等
lead: あなたの探しものは、ここにあるかも
pageid: class
---
.row
  .col-md-6
    :markdown
      ## 2016年度第２学期

      ### 電磁気学２

      金曜２限。理学部物理学科の人向けの、すこし進んだ電磁気学と特殊相対論の講義です。

      レポート問題を置いておきます。

      - [第１回 (pdfファイル)](pdf/pem16-01.pdf)
      - [第２回 (pdfファイル)](pdf/pem16-02.pdf)

      ### 場の理論２

      大学院生向けの場の理論の講義です。主にループ補正、ゲージ理論をやります。

      レポート問題を置いておきます。

      - [Homework problem set 1 (pdfファイル)](pdf/pqft-16-1.pdf)
      - [Homework problem set 2 (pdfファイル)](pdf/pqft-16-2.pdf)


  .col-md-6
    :markdown

      ## 2016年度第１学期

      ### 力学I

      火曜1限。主に工学部の人向けの力学です。

      ### オナーセミナー

      理学部の少し進んだことを勉強したい人向けの少人数ゼミです。今回は三輪哲二、神保道夫、伊達悦朗著「ソリトンの数理」(岩波書店)を輪講します。詳細は[理数オナープログラム – 大阪大学 大学院理学研究科・理学部](http://www.sci.osaka-u.ac.jp/ja/honr/)まで

  .col-md-6
    :markdown

      ## 2015年度第２学期

      ### 電磁気学２

      金曜２限。理学部物理学科の人向けの、すこし進んだ電磁気学と特殊相対論の講義です。

      レポート問題を置いておきます。

      - [第１回 (pdfファイル)](pdf/pem15-01.pdf)
      - [第２回 (pdfファイル)](pdf/pem15-02.pdf)
      - [第３回 (pdfファイル)](pdf/pem15-03.pdf)
      - [第４回 (pdfファイル)](pdf/pem15-04.pdf)
      - [第５回 (pdfファイル)](pdf/pem15-05.pdf)
      - [第６回 (pdfファイル)](pdf/pem15-06.pdf)

      テンソルに関するノートの[pdfファイル](pdf/tensor.pdf)を置いておきます。

  .col-md-6
    :markdown

      ## 2015年度第１学期

      ### 力学I

      火曜1限。主に工学部の人向けの力学です。

      レポート問題を置いておきます。

      - [第１回 (pdfファイル)](pdf/pcm15-01.pdf)
      - [第２回 (pdfファイル)](pdf/pcm15-02.pdf)

      ### M1ゼミ

      素粒子論のM1のゼミです。 [Matthew D. Schwartz著 "Quantum Field Theory and the Standard Model"](http://www.schwartzqft.com/)を読んでいます。

  .col-md-6
    :markdown
      ## 2014年度第２学期

      ### 物理学序論２

      高校の時に物理をやっていなかった人向けの電磁気の講義です。

      - [ベクトル解析まとめ　その１(pdfファイル)](pdf/vector-analysis14-1.pdf)
      - [マックスウェル方程式 (pdfファイル)](pdf/Maxwell-eq14.pdf)
      - [ベクトル解析まとめ　その２(pdfファイル)](pdf/vector-analysis14-2.pdf)
      - [問題 (pdfファイル)](pdf/em-problem14.pdf)

      ### 素粒子物理学特論II

      大学院生向けの超対称性と弦理論の講義です。

      - [Superfieldまとめ (pdfファイル)](pdf/superfield.pdf)

  .col-md-6
    :markdown

      ## 2014年度第１学期

      ### 力学I

      主に工学部の人向けの力学です。

      レポート問題を置いておきます。

      - [第１回 (pdfファイル)](pdf/pcm14-01.pdf)
      - [第２回 (pdfファイル)](pdf/pcm14-02.pdf)

  .col-md-6
    :markdown

      ## 2013年度第２学期

      ### 物理学序論２

      高校の時に物理をやっていなかった人向けの電磁気の講義です。

      - [ベクトル解析まとめ(pdfファイル)](pdf/vector-analysis.pdf)
      - [マックスウェル方程式 (pdfファイル)](pdf/Maxwell-eq.pdf)
      - [ベクトル解析まとめ　その２(pdfファイル)](pdf/vector-analysis2.pdf)
      - [問題 (pdfファイル)](pdf/em-problem.pdf)

  .col-md-6
    :markdown

      ## 2013年度第１学期

      ### 力学I

      火曜１限。力学の講義です。主に工学部の人たち向けの力学の講義です。

      問題を置いておきます

      - [第１回 (pdfファイル)](pdf/pcm13-01.pdf)
      - [第２回 (pdfファイル)](pdf/pcm13-02.pdf)

      ### 素粒子物理学特論１

      共形場理論の講義をしています。

      ### ４年生ゼミ

      素粒子理論の４年生の輪講です。Zinn-Justin "Path Integrals in Quantum Mechanics"を読んでいます。

  .col-md-6
    :markdown

      ## 2012年度第２学期

      ### 力学１

      木曜３限。力学の講義です。主に剛体の力学をやります。

      ### 力学１演義

      木曜４限。力学の演習です。

      問題を置いておきます

      - [第１回 (pdfファイル)](pdf/pcm12-01.pdf)
      - [第２回 (pdfファイル)](pdf/pcm12-02.pdf)
      - [第３回 (pdfファイル)](pdf/pcm12-03.pdf)
      - [第４回 (pdfファイル)](pdf/pcm12-04.pdf)
      - [第５回 (pdfファイル)](pdf/pcm12-05.pdf)
      - [第６回 (pdfファイル)](pdf/pcm12-06.pdf)
      - [第７回 (pdfファイル)](pdf/pcm12-07.pdf)
      - [第８回 (pdfファイル)](pdf/pcm12-08.pdf)
      - [第９回 (pdfファイル)](pdf/pcm12-09.pdf)
      - [第10回 (pdfファイル)](pdf/pcm12-10.pdf)
      - [第11回 (pdfファイル)](pdf/pcm12-11.pdf)
      - [第12回 (pdfファイル)](pdf/pcm12-12.pdf)
      - [第13回 (pdfファイル)](pdf/pcm12-13.pdf)

  .col-md-6
    :markdown


      ## 2012年度第１学期

      ### 素粒子物理学特論１

      弦理論の入門的な講義をしています。

      ### M1ゼミ

      [Mark Srednickiの場の量子論の本](http://web.physics.ucsb.edu/~mark/qft.html)を読んでいます。

  .col-md-6
    :markdown

      ## 2011年度第２学期

      ### 力学１

      月曜４限。力学の講義です。主に剛体の力学をやります。

      ### 力学１演義

      木曜４限。力学の演習です。

      問題を置いておきます

      - [第１回 (pdfファイル)](pdf/pcm11-01.pdf)
      - [第２回 (pdfファイル)](pdf/pcm11-02.pdf)
      - [第３回 (pdfファイル)](pdf/pcm11-03.pdf)
      - [第４回 (pdfファイル)](pdf/pcm11-04.pdf)
      - [第５回 (pdfファイル)](pdf/pcm11-05.pdf)
      - [第６回 (pdfファイル)](pdf/pcm11-06.pdf)
      - [第７回 (pdfファイル)](pdf/pcm11-07.pdf)
      - [第８回 (pdfファイル)](pdf/pcm11-08.pdf)
      - [第９回 (pdfファイル)](pdf/pcm11-09.pdf)
      - [第10回 (pdfファイル)](pdf/pcm11-10.pdf)
      - [第11回 (pdfファイル)](pdf/pcm11-11.pdf)
      - [第12回 (pdfファイル)](pdf/pcm11-12.pdf)
      - [第13回 (pdfファイル)](pdf/pcm11-13.pdf)

  .col-md-6
    :markdown

      ## 2011年度第１学期

      ### 場の理論I

      木曜２限。M1の人向けの場の理論の講義です。

      レポート問題を置いておきます

      - [2011年度レポート問題第一回 (pdfファイル)](pdf/qft-p-2-1.pdf)
      - [2011年度レポート問題第二回 (pdfファイル)](pdf/qft-p-2-2.pdf)
      - [2011年度レポート問題第三回 (pdfファイル)](pdf/qft-p-2-3.pdf)

      ### ４年生ゼミ

      金曜13時30分から。素粒子論の４年生のゼミをやっています。和達三樹「微分・位相幾何」を読んでいます。

  .col-md-6
    :markdown

      ## 2010年度第２学期

      ### 力学１

      月曜４限。力学の講義です。主に剛体の力学をやります。

      ### 力学１演義

      木曜４限。力学の演習です。

      問題を置いておきます

      - [第１回 (pdfファイル)](pdf/mechanics-problem01.pdf)
      - [第２回 (pdfファイル)](pdf/mechanics-problem02.pdf)
      - [第３回 (pdfファイル)](pdf/mechanics-problem03.pdf)
      - [第４回 (pdfファイル)](pdf/mechanics-problem04.pdf)
      - [第５回 (pdfファイル)](pdf/mechanics-problem05.pdf)
      - [第６回 (pdfファイル)](pdf/mechanics-problem06.pdf)
      - [第７回 (pdfファイル)](pdf/mechanics-problem07.pdf)
      - [第８回 (pdfファイル)](pdf/mechanics-problem08.pdf)
      - [第９回 (pdfファイル)](pdf/mechanics-problem09.pdf)
      - [第10回 (pdfファイル)](pdf/mechanics-problem10.pdf)
      - [第11回 (pdfファイル)](pdf/mechanics-problem11.pdf)
      - [第12回 (pdfファイル)](pdf/mechanics-problem12.pdf)
      - [第13回 (pdfファイル)](pdf/mechanics-problem13.pdf)

      ### Polchinskiゼミ

      月曜4時30分から。Polchinskiの"String Theory"を読んでいくゼミです。

  .col-md-6
    :markdown

      ## 2010年度第１学期

      ### 場の理論I

      木曜２限。M1の人向けの場の理論の講義です。

      レポート問題を置いておきます

      - [2010年度レポート問題第一回 (pdfファイル)](pdf/qft-problem1.pdf)
      - [2010年度レポート問題第二回 (pdfファイル)](pdf/qft-problem2.pdf)
      - [2010年度レポート問題第三回 (pdfファイル)](pdf/qft-problem3.pdf)

      ### 物理学セミナー１

      木曜３限。物理学科の学部1年生向けに特殊相対論の本を読むゼミをやっています。

      ### Polchinskiゼミ

      月曜4時30分から。Polchinskiの"String Theory"を読んでいくゼミです。

  .col-md-6
    :markdown

      ## 2009年度第2学期

      ### 電磁気学I（月曜日２限　共C102室）

      レポート問題を置いておきます

      - [電磁気学I レポート問題第一回 (pdfファイル)](pdf/problem1.pdf)
      - [電磁気学I レポート問題第二回 (pdfファイル)](pdf/problem2.pdf)
