---
layout: frame
title: 山口　哲
lead: ようこそ
pageid: index
---

= image_tag 'crystal.jpeg', :class => 'wideimage'

.container
  :markdown
    # 山口 哲

    ようこそ

    [ English page is here ](http://www-het.phys.sci.osaka-u.ac.jp/~yamaguch/)

.container
  .row
    .col-md
      :markdown
        ## 連絡先

        - E-mail アドレス： <script src="./img/mad.js"></script><noscript><img src="./img/10.png" alt="image" width="308" height="20" /></noscript>
        - 住所：
          〒560-0043 大阪府豊中市待兼山町１－１
         大阪大学大学院理学研究科物理学専攻素粒子論研究室
        - 研究室：大阪大学豊中キャンパス理学研究科H棟H728号室

        ## 授業

        詳しくは[授業・ゼミのページ](class.html)を見てください。2023年度第１学期は、全学向けの教養科目「現代物理学の基礎」と物理学専攻の大学院生の「素粒子物理学特論I」を担当します。

    .col-md
      :markdown
        ## 研究
        詳しくは[研究のページ](research.html)を見てみてください。

        主に弦理論の研究を行っています。弦理論は重力の量子論として有望視されている理論です。完全な量子論としての弦理論はまだ定式化されていませんが、古典的な性質、あるいは摂動論的な性質を通じて、時空の幾何学としての重力の量子論的な新しい側面が見えてきます。特に最近ではAdS/CFT対応やトポロジカル弦理論において発展があり、古典的には連続的である時空が、量子論的にはある意味で離散的になる場合があるということが示唆されるようになってきました。最近は、このような時空の離散化といった現象に特に興味を持っています。

  .row
    .col-md
      :markdown

        ## その他

        - [Macの設定の記録。](mac_setting.html)
        - [数値計算やってみました](numerical.html)
        - [バージョン管理ツールを使おう](git.html)
        - [単位を「円」にしてみた](yen.html)

    .col-md
      :markdown
        ## リンク

        ###学内

        - [大阪大学素粒子論研究室](http://www-het.phys.sci.osaka-u.ac.jp/)
        - [大阪大学](http://www.osaka-u.ac.jp/)
         ・ [大学院理学研究科](http://www.sci.osaka-u.ac.jp/index-jp.html)
         ・ [物理学専攻](http://www.phys.sci.osaka-u.ac.jp/index-jp.html)
        - [宇宙地球科学専攻](http://www.ess.sci.osaka-u.ac.jp/top1.html)
        - [大阪大学図書館](http://www.library.osaka-u.ac.jp/)

        ###物理関係

        - [HEP - INSPIRE-HEP](http://inspirehep.net/)
        - [arXiv.org e-Print archive](http://arxiv.org/)・ [hep-th new](http://arxiv.org/list/hep-th/new)
        - [String Theory Wiki](http://www.stringwiki.org/wiki/String_Theory_Wiki)
