---
layout: frame
title: 山口　哲
lead: ようこそ
pageid: index
---

= image_tag 'crystal.jpeg', :class => 'wideimage'

.container
  :markdown
    # 山口 哲

    ようこそ

    [ English page is here ](http://www-het.phys.sci.osaka-u.ac.jp/~yamaguch/)

.container
  .row
    .col-md
      :markdown
        ## 連絡先

        - E-mail アドレス： yamaguch@het.phys.sci.osaka-u.ac.jp
        - 住所：
          〒560-0043 大阪府豊中市待兼山町１－１
         大阪大学大学院理学研究科物理学専攻素粒子論研究室
        - 研究室：大阪大学豊中キャンパス理学研究科H棟H728号室

        ## 授業

        詳しくは[授業・ゼミのページ](class.html)を見てください。2023年度第２学期は、素粒子論研究室の４年生の卒業研究のゼミを担当しています。

    .col-md
      :markdown
        ## 研究
        詳しくは[研究のページ](research.html)を見てみてください。

        弦理論や場の理論の研究を行っています。最近は特に弦理論や場の理論における一般化対称性に興味を持っています。対称性は物理において非常に重要な概念です。場の理論においても対称性は重要で、計算するのが難しい強結合の場の理論の性質が、対称性の議論だけからある程度分かるということがあります。近年、対称性の概念が拡張され、以前は「対称性」と呼んでいなかったものが、対称性と同様に使用でき、場の理論の解析に有用であることが分かってきました。また、これらの「一般化対称性」は弦理論においても重要な役割を果たすと考えています。最近は、場の理論や弦理論における、これら「一般化対称性」の理論の整備と応用に興味を持って取り組んでいます。

  .row
    .col-md
      :markdown

        ## その他

        - [Macの設定の記録。](mac_setting.html)
        - [数値計算やってみました](numerical.html)
        - [バージョン管理ツールを使おう](git.html)
        - [単位を「円」にしてみた](yen.html)

    .col-md
      :markdown
        ## リンク

        ###学内

        - [大阪大学素粒子論研究室](http://www-het.phys.sci.osaka-u.ac.jp/)
        - [大阪大学](http://www.osaka-u.ac.jp/)
         ・ [大学院理学研究科](http://www.sci.osaka-u.ac.jp/index-jp.html)
         ・ [物理学専攻](http://www.phys.sci.osaka-u.ac.jp/index-jp.html)
        - [宇宙地球科学専攻](http://www.ess.sci.osaka-u.ac.jp/top1.html)
        - [大阪大学図書館](http://www.library.osaka-u.ac.jp/)

        ###物理関係

        - [HEP - INSPIRE-HEP](http://inspirehep.net/)
        - [arXiv.org e-Print archive](http://arxiv.org/)・ [hep-th new](http://arxiv.org/list/hep-th/new)
        - [String Theory Wiki](http://www.stringwiki.org/wiki/String_Theory_Wiki)
